<!doctype html>
<html>

<head>
  <meta charset="utf-8"></meta>
  <title>Dashboard Panel</title>
  <base href="/" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
  <link rel="icon" type="image/x-icon" href="favicon.ico"></link>
  <link href="styles.9bbe57e349f2d4391dc5.bundle.css" rel="stylesheet"></link>
<link href="styles.29e63bd1a0d06183f9f2.bundle.css" rel="stylesheet"/></head>
<script th:inline="javascript">
/*<![CDATA[*/
  window["INJECTED_ENVIRONMENT"] = {
    serviceInstanceId: /*[[${serviceInstanceId}]]*/,
    token:  /*[[${token}]]*/,
	  production: false,
    baseUrls: {
    serviceBrokerUrl: /*[[${endpointUrl}]]*/,
    },
    ui: {
      title: "Service Broker Panel",
      logoSrc: "./assets/core/sb-white.svg"
    }
  };
/*]]>*/
</script>
<body>
  <div id="preloader">
    <div class="loader loader-white"></div>
  </div>
  <sb-root>
  </sb-root>
<script type="text/javascript" src="inline.bc30f127199b16bd4eb3.bundle.js"></script><script type="text/javascript" src="polyfills.f7ba1df6135456b53f63.bundle.js"></script><script type="text/javascript" src="vendor.09070ac99d72af59ad82.bundle.js"></script><script type="text/javascript" src="main.5a00455fda188bf2fc54.bundle.js"></script></body>
</html>
